 h1{
  font-size: 100%;
  color: #FBD62B;
  background-color: #40B4FB;
  text-align: center;
}
body{
  color: black;
  font-size: 20px;

}

.Pics{
  display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: 2fr;
  margin-left: 30%;
  margin-bottom: 10%;
  /* Example used from stack overflow for refrence
  https://stackoverflow.com/questions/6169666/how-to-resize-an-image-to-fit-in-the-browser-window
  */
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  /* Example used from stack overflow for refrence*/
}

.bText{
  margin-top: 5%;
  margin-left: 28%;
  margin-right: 27%;
  text-align: center;
  font-size: 822%;
  font-style: Helvetica;
  background-color:
}

img.change{
  width: 300px;
  height: 400px;
  margin-left: 40%;
}

img.armed{
  width: 500px;
  height: 422px;
  margin-left: 5%;
}

img.title{
  width: 40%;
  height: 30%;
  margin-left: 30%;
}

iframe.youtube{
  margin-left: 18%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

img.marg{
  margin-bottom: 5%;
  margin-top: 5%;
}



/* above For Laptops and desktop  */
@media only screen and (max-width : 1000px){
  h1{
   font-size: 125%;
   color: #FC766AFF;
   background-color: #5B84B1FF;
   text-align: center;
   max-width: 100%;
   max-height: 100vh;
   margin: auto;
 }
@media only screen and (max-width : 950px){
  h1{
   font-size: 150%;
   color: #CDB599FF;
   background-color: #42EADDFF;
   text-align: center;
   max-width: 100%;
   max-height: 100vh;
   margin: auto;
 }
@media only screen and (max-width : 900px){
  h1{
   font-size: 175%;
   color: #FBD62B;
   background-color: #40B4FB;
   text-align: center;
   max-width: 100%;
   max-height: 100vh;
   margin: auto;
 }
@media only screen and (max-width : 850px){
  h1{
   font-size: 250%;
   color: #F95700FF;
   background-color: #00A4CCFF;
   text-align: center;
   max-width: 100%;
   max-height: 100vh;
   margin: auto;
 }
@media only screen and (max-width : 750px){
  h1{
   font-size: 500%;
   color: #ADEFD1FF;
   background-color: #00203FFF;
   text-align: center;
   max-width: 100%;
   max-height: 100vh;
   margin: auto;
}
@media only screen and (max-width : 650px){
  h1{
   font-size: 1000%;
   color: #FCF6F5FF;
   background-color: #89ABE3FF;
   text-align: center;
   max-width: 100%;
   max-height: 100vh;
   margin: auto;
}
/* For small screens and phones*/
@media only screen and (max-width : 550px){
  h1{
   font-size: 2000%;
   color: #00539CFF;
   background-color: #EEA47FFF;
   text-align: center;
   max-width: 100%;
   max-height: 100vh;
   margin: auto;
 }
  body{
    color: black;
    font-size: 20px;
    background-color: blue;
    /* background color used to switch between both */
    overflow: visable;
  }

  .Pics{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 30%;
    margin-bottom: 10%;
    width: 100%
    /* Example used from stack overflow for refrence
    https://stackoverflow.com/questions/6169666/how-to-resize-an-image-to-fit-in-the-browser-window
    */
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    /* Example used from stack overflow for refrence*/

  }

  .bText{
    margin-top: 5%;
    margin-left: 28%;
    margin-right: 27%;
    text-align: center;
    font-size: 822%;
    font-style: Helvetica;
    background-color: ;
  }

  img.change{
    width: 300px;
    height: 400px;
    margin-left: 40%;
  }

  img.armed{
    width: 500px;
    height: 422px;
    margin-left: 5%;
  }

  img.title{
    width: 40%;
    height: 30%;
    margin-left: 30%;
  }

  iframe.youtube{
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }

  img.marg{
    margin-bottom: 5%;
    margin-top: 5%;
  }

}
